# Virtual environment
venv/

# Environment variables
.env
.env.*

# Python cache
__pycache__/
*.py[cod]

# Byte-compiled / optimized / DLL files
*.so

# Distribution / packaging
dist/
build/
*.egg-info/
